.card{
    background-image: url(https://t3.ftcdn.net/jpg/02/39/98/48/360_F_239984893_m8NmN3aTbmBwWgMfN0VqCl5gaQxoAP6n.jpg);
    
    height:'2vh';
    width:800;
  }
  .image{
    border-radius: 10;
    
  }
  .detail{
    display: flex;
   align-items: flex-end;
    
  }
  .cont{
    display: flex;
   
    margin-bottom: auto;}
