.card{
    background-image: url(https://cdn.dribbble.com/users/2520294/screenshots/7269423/media/8db02365a1363822ae9f0554cf3d4469.gif);
    
    height:'2vh';
    width:800;
  }
  .image{
    border-radius: 10;
    
  }
  .detail{
    display: flex;
   align-items: flex-end;
    
  }
  .cont{
    display: flex;
   
    margin-bottom: auto;}
