.card{
    background-image: url(https://media-exp1.licdn.com/dms/image/C4E1BAQFHrYklf2QJiw/company-background_10000/0/1585915033296?e=2147483647&v=beta&t=oFTZHRgi66xfR9wRoaREaFIcbs93MpGwys5RhgcPeBg);
    margin-top: 10;
    height:'70vh';
    width:800;
  }